In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
# load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head(
    
)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# preprocess the data
# 1. drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# Onehot encode 'Geography' 
from sklearn.preprocessing import OneHotEncoder

In [7]:
onehot_encoder=OneHotEncoder()

In [8]:
geo_encoder=onehot_encoder.fit_transform(data[['Geography']])

In [9]:
onehot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder.get_feature_names_out(['Geography']))

In [11]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [12]:
# combine all the columns with the original data
data=pd.concat([geo_encoded_df,data.drop('Geography',axis=1)],axis=1)
data.head()

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
# save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder.pkl','wb') as file:
    pickle.dump(onehot_encoder,file)

In [14]:
# divide the dataset into independent and dependent feature
X=data.drop('Exited',axis=1)
y=data['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [15]:
X_train.shape[1
              ]

12

In [16]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [17]:
# ann implementation
import tensorflow as tf

WARNING:tensorflow:From s:\anaconda\envs\churn_env\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [19]:
# Build Ann model
model = Sequential(
    [
     Dense(64,activation='relu',input_shape=(X_train.shape[1],)) ,# first HL1 connected with input layer  
     Dense(32,activation='relu'), #HL2
     Dense(1,activation='sigmoid') #output layer
    ]
)

WARNING:tensorflow:From s:\anaconda\envs\churn_env\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [22]:
# Compile the model
model.compile(optimizer=opt,loss=loss, metrics=['accuracy'])

In [23]:
# setupp the tensorboard
log_dir='logs/fit'+ datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [24]:
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
# Setup Earlystopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=25,restore_best_weights=True)

In [26]:
# Training the model
history=model.fit(
    X_train,y_train, validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From s:\anaconda\envs\churn_env\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From s:\anaconda\envs\churn_env\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 0.3966 - accuracy: 0.8324 - val_loss: 0.3484 - val_accuracy: 0.8640
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3559 - accuracy: 0.8556 - val_loss: 0.3627 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3473 - accuracy: 0.8568 - val_loss: 0.3418 - val_accuracy: 0.8620
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3425 - accuracy: 0.8597 - val_loss: 0.3461 - val_accuracy: 0.8615
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8593 - val_loss: 0.3415 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8597 - val_loss: 0.3688 - val_accuracy: 0.8550
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8615 - val_loss: 0.3394 - val_accuracy: 0.8575
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8633 - val_loss: 0.3366 - val_accuracy: 0.8605
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3292 - accuracy: 0.8658 - val_loss: 0.3476 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3280 - accuracy: 0.8686 - val_loss: 0.3516 - val_accuracy: 0.8590
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8635 - val_loss: 0.3432 - val_accuracy: 0.8600
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3256 - accuracy: 0.8652 - val_loss: 0.3468 - val_accuracy: 0.8580
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.8658 - val_loss: 0.3450 - val_accuracy: 0.8595
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3211 - accuracy: 0.8690 - val_loss: 0.3452 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3177 - accuracy: 0.8699 - val_loss: 0.3413 - val_accuracy: 0.8590
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3179 - accuracy: 0.8674 - val_loss: 0.3532 - val_accuracy: 0.8590
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3144 - accuracy: 0.8669 - val_loss: 0.3560 - val_accuracy: 0.8625
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8717 - val_loss: 0.3477 - val_accuracy: 0.8595
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3107 - accuracy: 0.8721 - val_loss: 0.3568 - val_accuracy: 0.8630
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3079 - accuracy: 0.8704 - val_loss: 0.3457 - val_accuracy: 0.8630
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3051 - accuracy: 0.8725 - val_loss: 0.3646 - val_accuracy: 0.8575
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3020 - accuracy: 0.8751 - val_loss: 0.3603 - val_accuracy: 0.8615
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3007 - accuracy: 0.8764 - val_loss: 0.3738 - val_accuracy: 0.8570
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3031 - accuracy: 0.8746 - val_loss: 0.3940 - val_accuracy: 0.8515
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2988 - accuracy: 0.8781 - val_loss: 0.3836 - val_accuracy: 0.8555
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2959 - accuracy: 0.8790 - val_loss: 0.3699 - val_accuracy: 0.8615
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2894 - accuracy: 0.8809 - val_loss: 0.3838 - val_accuracy: 0.8560
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2863 - accuracy: 0.8786 - val_loss: 0.3811 - val_accuracy: 0.8490
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2876 - accuracy: 0.8826 - val_loss: 0.3945 - val_accuracy: 0.8570
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2828 - accuracy: 0.8830 - val_loss: 0.4068 - val_accuracy: 0.8515
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2850 - accuracy: 0.8795 - val_loss: 0.3856 - val_accuracy: 0.8540
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2797 - accuracy: 0.8866 - val_loss: 0.3889 - val_accuracy: 0.8520
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2766 - accuracy: 0.8860 - val_loss: 0.3933 - val_accuracy: 0.8535

In [28]:
model.save("model.keras")

In [ ]:
# Load Tensorborad Extension
%load_ext tensorboard

In [ ]:
%tensorboard --logdir logs/fit20250911-220634

Reusing TensorBoard on port 6008 (pid 28948), started 2 days, 0:34:18 ago. (Use '!kill 28948' to kill it.)

In [ ]:
# load the pickle file